/* Спецификация */
html {
	scroll-behavior: smooth;
}

body {	
	/*font-family: 'PT Sans', sans-serif;*/
}

ul, li {
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5 {
	font-weight: 400;
	color: #000;
}

h2 {
	text-align: center; 
}

h3 {
	font-weight: 400;
}

.title {
	margin-bottom: 70px;
}

.title__main {
	font-size: 20px;
	text-align: center;
	margin-bottom: 15px;
}

.title__sub {
	font-size: 16px;
	text-align: center;	
}

.title__text {
	font-size: 14px;
	margin-bottom: 0px;
	text-align: center;
}

.yellow {
	color: #fcdb00;
}

/* header */

.header {
	background: linear-gradient(rgba(0, 0, 0, 0),
								rgba(0, 0, 0, 0)
								),
	url(../img/welcome.jpg) no-repeat;
	background-size: cover;	
	color: #eee;	
	padding-top: 40px;	
	background-position: top center;	
}

.logo {
	font-size: 24px;
}

.menu {
	margin-top: 8px;
}

.menu__item {
	margin-right: 30px;

}

.menu__item a {
	font-size: 14px;
	font-weight: 400;
	color: #eee;
	text-decoration: none;	
}

.menu__item a:hover {
	transition: 0.7s;	
	color: #4ee;
	cursor: pointer;
}

.offer {
	margin-top: 260px;
	margin-bottom: 260px;
	text-align: center;
}

.offer__title {
	margin-bottom: 20px;
	color: #eee;
	font-size: 48px;	
}

.offer__text {	
	font-size: 20px;
	margin-bottom: 40px;
}

.offer__btn {	
	font-size: 16px;
	color: #eee;	
	padding: 10px 0;
	width: 175px;	
	border-color: #eee;
}

.offer__btn:hover {	
	transition: 0.7s;	
	color: #4ee;	
	cursor: pointer;
}


/* works */

.works {
	margin: 100px auto;	
}

.works nav {
	margin-bottom: 70px;
}

.works .menu__item a {
	font-size: 16px;
	font-weight: 400;
	color: #222;	
}

.works .menu__item a:hover {
	transition: 0.7s;
	color: #11e;
	cursor: pointer;
}

.works img {
	margin: 0 10px 20px 0;
}


/*  services  */

.services {
	text-align: center;	
	margin-bottom: 100px;
}

.services__title {
	font-size: 20px;	
	margin-bottom: 15px;
}

.services__intro {
	font-size: 16px;
}

.services__text {
	font-size: 14px;
	margin-bottom: 70px;	
}

.FA_icon {
	margin-bottom: 20px;
}


/* talk */

.talk {
	background: linear-gradient(rgba(192, 48, 28, 0.6),
								rgba(192, 48, 28, 0.6)
								),
	url(../img/Layer_29.png) no-repeat;
	background-size: cover;
	color: #eee;	
	background-position: top center;
	margin-bottom: 100px;
}

.talk__title {
	padding: 100px 0 50px 0;
	font-size: 30px;
	color: #fff;	
}

.talk__btn {	
	font-size: 18px;
	color: #c0301c;
	margin-bottom: 100px;
	padding: 17px 0;
	width: 180px;	
	background: #fff;	
}


/* call */

.callmain {
	margin-bottom: 75px;
}

.call__blog {
	padding: 0 0 0 40px;
}

.call__text {
	font-size: 14px;
	padding: 25px 0 10px 0;
}

/* google maps */


.maps {
	padding: 40px 0;
	background: #eee;
}

.map {
	padding: 0 50px;
	width: 80%;
	height: 400px;	
}


/* Section touch */

.touch {
	padding: 20px 0 50px 0;	
	color: #222;
}

.form {
	text-align: center;
	font-size: 22px;

}

.form__input {
	margin-right: 21px;
	padding: 6px 20px;
	width: 580px;
	border-color: #222;
	outline: none;
	border-width: 1px;		
}

.form__btn {
	background: #fff;
	padding: 6px 0;
	width: 156px;
	border-color: #222;
	font-weight: 400;
	cursor: pointer;
	text-transform: uppercase;
	border-width: 1px;	
}

/* chat */

.chat {
	height: auto;
	padding: 40px 0;
	background: #eee;
	overflow-y: hidden;
}

.chat iframe {
	border: 0px; 
	height: 900px;	  
	resize: both;
	overflow-y: hidden;
	  
}

/* footer */

footer {
	background: #c0301c;	
	padding: 20px;
	color: #fff;
	font-size: 12px;
}

footer img {
	margin: 20px;
}


/* медиазапросы */

@media screen and (max-width: 1200px) {
	.callmain {
		display: block;
		text-align: center;
		margin: 0 auto;
	}
	.call__blog {
		/*display: block;*/
		text-align: center;
		margin: 0;
		padding: 0;
		justify-content: center;
	}
	.date {
		display: block;
		margin: 10px auto 10px
	}
}

@media screen and (max-width: 992px) {
	.logo {
		display: block;
		text-align: center;
		margin: 0 auto;
	}
	.aboutUs img, .works img {
		display: block;
		margin: 10px auto 10px;
	}
	.form__input {
		margin-right: 0;
		width: 100%;
	}
	.form__btn {
		margin-top: 20px;		
		width: 100%;
	}
}

@media screen and (max-width: 576px) {	
	.menu {
		text-align: center;
		flex-direction: column;		
	}
	.menu__item {
		margin: 0;
	}
	.offer {
	margin-top: 70px;
	margin-bottom: 70px;
	}
}